<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Submit Advertisements"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>
		<main>
			<%- include('content/ejs/body.ejs') %>

			<%- include('content/ejs/adsubmitform.ejs', {adDomain: adDomain, adResolutions: adResolutions, adPrice: adPrice}) %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>

			<script src="/content/javascript/adSubmission.js"></script>
		</main>
	</body>
</html>
