<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Edit Advertiser Information"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>
		<main>
			<%- include('content/ejs/body.ejs') %>

			<%- include('content/ejs/advertisereditform.ejs', {user: user, businessDomain: businessDomain, businessEmail: businessEmail, paymentMethod: paymentMethod}) %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>

			<script>
				var stripePubKey = <%- JSON.stringify(stripePubKey) %>;
				var customerid = <%- JSON.stringify(customerid) %>;
			</script>

			<script src="https://js.stripe.com/v3/"></script>

			<script src="/content/javascript/advertiserEdits.js"></script>
		</main>
	</body>
</html>
