<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Create a Playlist"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/html/banner.html') %>
		</nav>

		<main>
			<h1>Create a Playlist</h1>

			<%- include('content/ejs/body.ejs') %>

			<form action="/playlist/create" method="post" class="authform">
				<div>
					<input id="name" name="name" type="text" placeholder="Name your playlist" autofocus>
				</div><br>
				<div>
					<% if (typeof videoid != 'undefined') { %>
						<input type="hidden" id="videoid" name="videoid" value="<%= videoid %>">
					<% } %>
				</div><br>
				<div>
					<input type="submit" value="Create">
				</div>
			</form>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
