<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "BECOME SIGMA NOW!!!"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>
		<main>
			<%- include('content/ejs/body.ejs') %>

			<div id="dropshipping-content">
				<h1>Do you:</h1>
				<ul>
					<li>Live in your parent's basement?</li>
					<li>Hate minorities with a BURNING passion?</li>
					<li>Feel the urge to carry out war crimes? (in minecraft)</li>
					<li>Live in your neighbors walls?</li>
				</ul>
				<img src="/content/icons/dino_sigma.gif">
				<h4>a SIGMAcephalosaurus killing a beta male, truly an inspiration</h4>

				<h3>Then YOU might be on the path to becoming a TRUE SIGMA</h3>
				<img src="/content/icons/sharpe.gif">
				<h4>a graduate from SIGMA university</h4>

				<h1>Now..... it's time to go SIGMA:</h1>
				<img id="bateman" src="/content/icons/chadrick_basedman.jpg">
				<h4>(me in the office, observing workers in the sweatshop)</h4>

				<p>For too long have the betas, ligmas, thetas, gammas, and alphas been ruling the world with their inferior ways.</p>
				<p>This dropshipping course aims to cultivate the best sigma males to bring TRUE inequality back to the world, as god didn't intend.</p>
				<p>Now, let's look at the process for going SIGMA...</p>

				<h1>The SIGMA Process: (patented)</h1>
				<div id="sigma-evolution">
					<div>
						<img src="/content/icons/guy_crying.gif">
						<h4>a beta who did NOT buy the course as required</h4>
					</div>

					<div>
						------>
					</div>

					<div>
						<img src="/content/icons/sigma_tony.jpeg">
						<h4>another SIGMA univeristy graduate, blowing up middle eastern villages, flourishing</h4>
					</div>
				</div>
				<ol>
					<li>Prerequisites:</li>
						<p>- Buying my course (valued at $1 Billion) at the discounted price of $999,999,999,999</p>
						<img src="/content/icons/business_axolotol.jpeg">
						<h4>buying the course is the ONLY way to get rich</h4>

						<p>- Rich parents and/or relatives</p>
						<img src="/content/icons/cronyism.jpeg">
						<h4>A sigma's success is self-made by their parents</h4>

						<p>- A hatred of minority groups</p>
						<img src="/content/icons/thanos_racist.gif">
						<h4>hating minorities means you only associate with the majority who will succeed</h4>

						<p>- A low IQ (<1 brain cells)</p>
						<img src="/content/icons/chad_iq.jpeg">
						<h4>a sigma needs 1 brain cell only, it's either do or die, on or off, no in-between</h4>
					<li>How to get money (ESSENTIAL for becoming SIGMA):</li>
						<p>- Child slavery</p>
						<img src="/content/icons/elon_minecraft.jpeg">
						<h4>sigma elon giving minecraft to the youth of south africa (truly philanthropic)</h4>

						<p>- Parent's Money</p>
						<img src="/content/icons/rich_grandma.jpeg">
						<h4>a sigma male's success is self-made (with their family's money)</h4>

						<p>- Steal ideas from your "friends" (sigmas are lone wolves)</p>
						<img src="/content/icons/zuckerberg.jpeg">
						<h4>sigma lizard-bot mark zuckerberg made his fortune by tricking betas (high IQ move), can now enjoy sweet baby ray's in his mansion</h4>

						<p>- Outsource labor for below the minimum wage (more money for the sigma)</p>
						<img src="/content/icons/migrant_workers.jpeg">
						<h4>beta workers, getting their wages unknowingly swindled by the sigma boss</h4>
					<li>What to do with your money:</li>
						<p>- Go visit your friend Jeff on his private island (he seems pretty cool)</p>
						<img src="/content/icons/jeff_clinton.jpeg">
						<h4>two sigmas can do more damage to society than one</h4>

						<p>- Buy a mansion (runs on diesel)</p>
						<img src="/content/icons/mansion.jpeg">
						<h4>a large mansion ensures SIGMA activities can be performed in secrecy</h4>

						<p>- Pollute the environment (improve the earth's weak AF immune system)</p>
						<img src="/content/icons/steam_engine.gif">
						<h4>recent SIGMA university graduates polluting gated communities, showing who's boss</h4>

						<p>- Build a weapons arsenal (everyone is after the sigma)</p>
						<img src="/content/icons/explosion.gif">
						<h4>a test of stolen uranium samples being tested on an orphanage (fuck them kids)</h4>
					<li>Using your power for good:</li>
						<p>- Blow up childrens hospitals (cleansing the gene pool, fuck them kids)</p>
						<img src="/content/icons/joker_hospital.gif">
						<h4>a SIGMA university professor showing the siglets how it's done</h4>

						<p>- Use money and influence to spread misinformation (never let them know your next move)</p>
						<img src="/content/icons/typing.gif">
						<h4>spreading misinformation ensures </h4>

						<p>- Sell a dropshipping course</p>
						<img src="/content/icons/sigma_tate.jpeg">
						<h4>SIGMA professor andrew tate made his fortune selling a $50 discord to betas, truly inspirational</h4>
					<li>The Next Step:</li>
						<p>- Buy the course</p>
						
				</ol>
			</div>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>

			<!--Variables given by the EJS are defined in a script tag here-->

			<!--External scripts are defined here-->
		</main>
	</body>
</html>
