<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Home"}); %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>
		<main>
			<%- include('content/ejs/body.ejs') %>

			<div class="group-videos">
				<% if (typeof content != 'undefined') { %>
					<% content.forEach((item, index) => { %>
						<% if (item.type == "video") { %>
							<%- include('content/ejs/thumbnail.ejs', {video: item}) %>
						<% } else if (item.type == "image"){ %>
							<%- include('content/ejs/imagethumbnail.ejs', {image: item}) %>
						<% } %>
					<% }); %>
				<% } %>
			</div>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
