<!DOCTYPE html>
<html>
	<head>
		<%- include('content/html/head.html'); %>
		<title>Home - Crumb</title>
	</head>
	<body>
		<%- include('content/html/banner.html'); %>

		<%- include('content/ejs/body.ejs') %>

		<%- include('content/ejs/navbar.ejs') %>

		<h1>Videos:</h1>
		<div class="home-videos">
			<% if (typeof videos != 'undefined') { %>
				<% videos.forEach((item, index) => { %>
					<div class="video">
						<% if (item.streaming == 'true') { %>
							<% var videolink = `/l/view/${item.id}`; %>
						<% } else { %>
							<% var videolink = `/v/${item.id}`; %>
						<% } %>
						<% var channellink = `/u/${item.user_id}`; %>
						<div class="thumbnail">
							<a href="<%= videolink %>">
								<img src="<%= item.thumbnail %>" alt="Thumbnail" width="450" height="300">
							</a>
						</div>
						<div class="links">
							<a href="<%= videolink %>">
								<h3 style="text-transform: capitalize"><strong><%= item.title %></strong></h3>
							</a>
							<div id="channel-links">
								<a href="<%= channellink %>">
									<img id="channel-icon" src="<%= item.channelicon %>">
								</a>
								<a href="<%= channellink %>">
									<p><%= item.username %></p>
								</a>
								<svg width="10" height="40" id="extras" onclick='showlinks(&quot;<%= item.id %>extralinks&quot;, &quot;<%= item.id %>&quot;)'>
									<circle cx="5" cy="5" r="5" fill="#adff12"/>
									<circle cx="5" cy="20" r="5" fill="#adff12"/>
									<circle cx="5" cy="35" r="5" fill="#adff12"/>
								</svg>
								<div class="extralinks" id="<%= item.id %>extralinks">
									<button onclick='showform(&quot;<%= item.id %>&quot;, &quot;playlistform&quot;)'>Add To Playlist</button>
									<button>Not Interested</button>
									<button onclick='showform(&quot;<%= item.id %>&quot;, &quot;reportform&quot;)'>Report</button>
								</div>
								<div class="extralinkforms" id="<%= item.id %>extralinkforms">
									<object id="<%= item.id %>playlistform">
										<h3><a href="/playlist/new/?videoid=<%= item.id %>">Create Playlist</a></h3><br>
										<% if (typeof playlists != 'undefined') { %>
											<% playlists.forEach((plist, index) => { %>
												<h3><a href="/playlistvideo/add/<%= plist.id %>/<%= item.id %>"><%= plist.name %></a></h3><br>
											<% }); %>
										<% } %>
									</object>
									<object id="<%= item.id %>reportform">
										<form action="/report/<%= item.id %>" method="post">
											
										</form>
									</object>
								</div>
							</div>
						</div>
					</div>
				<% }); %>
			<% } %>
		</div>

		<script src="/content/javascript/elementclicks.js"></script>
	</body>
</html>
