<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Home"}); %>
	</head>
	<body>
		<%- include('content/html/banner.html'); %>

		<%- include('content/ejs/body.ejs') %>

		<%- include('content/ejs/navbar.ejs') %>

		<h1>Videos:</h1>
		<div class="home-videos">
			<% if (typeof videos != 'undefined') { %>
				<% videos.forEach((item, index) => { %>
					<%- include('content/ejs/thumbnail.ejs', {video: item}) %>
				<% }); %>
			<% } %>
		</div>

		<%- include('content/ejs/scripts.ejs') %>

		<script src="/content/javascript/elementclicks.js"></script>
	</body>
</html>
