<!DOCTYPE html>

<html>
	<head>
		<%- include('content/html/head.html') %>
		<title>Results For "<%= search.humanquery %>" - Crumb</title>
	</head>
	<body>
		<%- include('content/html/banner.html') %>

		<%- include('content/html/body.html') %>

		<div class="search-videos">
			<% if (search.channels.length > 0) { %>
				<h1>Channels:</h1>
				<hr>
				<% search.channels.forEach((item, index) => { %>
					<% var channellink = `/u/${item.id}`; %>
					<% var subscribelink = `/subscribe/${item.id}`; %>
					<div class="channel">
						<a href="<%= channellink %>">
							<img id="channel-icon" src="<%= item.channelicon %>" alt="Channelicon">
						</a>
						<a href="<%= channellink %>">
							<h1 id="channel-link"><%= item.username %></h1>
						</a>
						<% if (typeof user != 'undefined') { %>
							<% if (user.id != item.id) { %>
								<% if (user.subscribedChannels.includes(item.id)) { %>
									<button id="subscribebutton" onclick='subscribe(&quot;<%= item.id %>&quot;)'>Subscribed</button>
								<% } else { %>
									<button id="subscribebutton" onclick='subscribe(&quot;<%= item.id %>&quot;)'>Subscribe</button>
								<% } %>
							<% } %>
						<% } else { %>
							<button id="subscribebutton" onclick='subscribe(&quot;<%= item.id %>&quot;)'>Subscribe</button>
						<% } %>
						<p><%= item.subscribers %></p>
					</div>
				<% }); %>
			<% } %>

			<% if (search.videos.length > 0) { %>
				<h1>Videos:</h1>
				<hr>
				<% search.videos.forEach((item, index) => { %>
					<div class="video">
						<% var videolink = `/v/${item.id}`; %>
						<% var channellink = `/u/${item.user_id}`; %>
						<div class="thumbnail">
							<a href="<%= videolink %>">
								<img src="<%= item.thumbnail %>" alt="Thumbnail" width="450" height="300">
							</a>
						</div>
						<div class="links">
							<a href="<%= videolink %>">
								<h3 style="text-transform: capitalize;"><strong><%= item.title %></strong></h3>
							</a>
							<div id="channel-links">
								<a href="<%= channellink %>">
									<img id="channel-icon" src="<%= item.channelicon %>">
								</a>
								<a href="<%= channellink %>">
									<p><%= item.username %></p>
								</a>
							</div>
						</div>
					</div>
				<% }); %>
			<% } %>

			<% if (search.playlists.length > 0) { %>
				<h1>Playlists:</h1>
				<hr>
				<% search.playlists.forEach((item, index) => { %>
					<div class="playlist">
						<% var playlistlink = `/p/${item.id}` %>
						<h3><a href="<%= playlistlink %>"><%= item.name %></a></h3>
						<p><%= item.videocount %></p>
					</div>
				<% }); %>
			<% } %>

			<% if (search.videos.length == 0 && search.channels.length == 0 && search.playlists.length == 0) { %>
				<p>No Results Returned</p>
			<% } %>
		</div>
		<script src="/javascript/subscribe.js"></script>
	</body>
</html>
