<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: `Results For ${search.humanquery}`}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<div class="search-videos">
				<% if (search.channels.length > 0) { %>
					<h1>Channels:</h1>
					<hr>
					<% search.channels.forEach((item, index) => { %>
						<%- include('content/ejs/minichannel.ejs', {channel: item}) %>
					<% }); %>
				<% } %>

				<% if (search.videos.length > 0) { %>
					<h1>Videos:</h1>
					<hr>
					<div class="search-videos">
						<% search.videos.forEach((item, index) => { %>
							<%- include('content/ejs/thumbnail.ejs', {video: item}) %>
						<% }); %>
					</div>
				<% } %>

				<% if (search.playlists.length > 0) { %>
					<h1>Playlists:</h1>
					<hr>
					<% search.playlists.forEach((item, index) => { %>
						<div class="playlist">
							<% var playlistlink = `/playlistvideo/view/${item.id}/${item.firstvideoid}` %>
							<a href="<%= playlistlink %>"><img src="<%= item.thumbnail %>" width="450" height="300"></a>
							<h3><a href="<%= playlistlink %>"><%= item.name %></a></h3>
							<p><%= item.videocount %></p>
						</div>
					<% }); %>
				<% } %>

				<% if (search.videos.length == 0 && search.channels.length == 0 && search.playlists.length == 0) { %>
					<p>No Results Returned</p>
				<% } %>
			</div>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
