<!DOCTYPE html>

<html>
	<head>
		<%- include('content/html/head.html') %>
		<title>Results For "<%= search.humanquery %>" - Crumb</title>
	</head>
	<body>
		<%- include('content/html/banner.html') %>

		<div class="messages">
			<% if (typeof message != 'undefined') { %>
				<p><%= message %></p>
			<% } %>

			<ul>
				<% if (typeof errors != 'undefined') { %>
					<% errors.forEach((item, index) => { %>
						<li><%= item.message %></li>
					<% }); %>
				<% } %>
			</ul>

			<%if (search.autocorrected == true) { %>
				<p><q><%= search.humanquery %></q></p>
				<% if (search.autocorrectedTitleCase) { %>
					<p>Did you mean: <q><%= search.queryTitle %></q></p>
				<% } else if (search.autocorrectedCaps) { %>
					<p>Did you mean: <q><%= search.queryCaps %></q></p>
				<% } else if (search.autocorrectedNormal) { %>
					<p>Did you mean: <q><%= search.query %></q></p>
				<% } %>
			<% } %>
		</div>

		<div class="home-videos">
			<% if (search.videos.length > 0) { %>
				<% search.videos.forEach((item, index) => { %>
					<div class="video">
						<% var creator = JSON.parse(item.creator); %>
						<% var videolink = `/v/${item.id}`; %>
						<% var channellink = `/u/${creator.id}`; %>
						<div class="thumbnail">
							<a href="<%= videolink %>">
								<img src="<%= item.thumbnail %>" alt="Thumbnail" width="450" height="300">
							</a>
						</div>
						<div class="links">
							<a href="<%= videolink %>">
								<h3 style="text-transform: capitalize;"><strong><%= item.title %></strong></h3>
							</a>
							<div id="channel-links">
								<a href="<%= channellink %>">
									<img id="channel-icon" src="<%= creator.channelicon %>">
								</a>
								<a href="<%= channellink %>">
									<p><%= creator.username %></p>
								</a>
							</div>
						</div>
					</div>
				<% }); %>
			<% } else { %>
				<p>No Results Returned</p>
			<% } %>
		</div>
	</body>
</html>
