<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: `Results For ${search.humanquery}`}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<div class="search-content">
				<div id="channel-results">
					<% if (search.channels.length) { %>
						<h1>Channels:</h1>
						<hr>
						<% search.channels.forEach((item, index) => { %>
							<%- include('content/ejs/minichannel.ejs', {channel: item}) %>
						<% }); %>
					<% } %>
				</div>

				<div id="video-results">
					<% if (search.videos.length) { %>
						<h1>Videos:</h1>
						<hr>
						<div class="search-videos">
							<% search.videos.forEach((item, index) => { %>
								<%- include('content/ejs/thumbnail.ejs', {video: item}) %>
							<% }); %>
						</div>
					<% } %>
				</div>

				<div id="playlist-results">
					<% if (search.playlists.length) { %>
						<h1>Playlists:</h1>
						<hr>
						<% search.playlists.forEach((item, index) => { %>
							<div class="playlist">
								<% var playlistlink = `/playlistvideo/view/${item.id}/${item.firstvideoid}` %>
								<a href="<%= playlistlink %>"><img src="<%= item.thumbnail %>" width="450" height="300"></a>
								<h3><a href="<%= playlistlink %>"><%= item.name %></a></h3>
								<p><%= item.videocount %></p>
							</div>
						<% }); %>
					<% } %>
				</div>

				<% if (!search.videos.length && !search.channels.length && !search.playlists.length) { %>
					<p>No Results Returned</p>
				<% } %>
			</div>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
