<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: `Results For ${search.humanquery}`}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<div class="search-content">
				<div id="channel-results">
					<% if (search.channels.length) { %>
						<h1>Channels:</h1>
						
						<div class="search-channels">
							<% search.channels.forEach((item, index) => { %>
								<%- include('content/ejs/minichannel.ejs', {channel: item}) %>
							<% }); %>
						</div>
					<% } %>
				</div>

				<div id="video-results">
					<% if (search.videos.length) { %>
						<h1>Videos:</h1>
						
						<div class="search-videos">
							<% search.videos.forEach((item, index) => { %>
								<%- include('content/ejs/thumbnail.ejs', {video: item}) %>
							<% }); %>
						</div>
					<% } %>
				</div>

				<div id="playlist-results">
					<% if (search.playlists.length) { %>
						<h1>Playlists:</h1>
						
						<div class="search-playlists">
							<% search.playlists.forEach((item, index) => { %>
								<%- include('content/ejs/playlistthumbnail.ejs', {playlist: item}) %>
							<% }); %>
						</div>
					<% } %>
				</div>

				<% if (!search.videos.length && !search.channels.length && !search.playlists.length) { %>
					<p>No Results Returned</p>
				<% } %>
			</div>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
