<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs') %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/ejs/banner.ejs') %>
		</nav>
		<main>
			<%- include('content/ejs/body.ejs') %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
