<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs') %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>
		<main>
			<%- include('content/ejs/body.ejs') %>

			<!--Main content goes here-->

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>

			<!--Variables given by the EJS are defined in a script tag here-->

			<!--External scripts are defined here-->
		</main>
	</body>
</html>
