<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Start a Live Stream"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<div id="stream-submit">
				<% if (streamtype == "obs") { %>
					<h1>OBS Stream:</h1>
					<%- include('content/ejs/streamform.ejs', {posturl: "/l/stream/obs"}) %>
				<% } else if (streamtype == "web") { %>
					<h1>Webcam Stream:</h1>
					<%- include('content/ejs/streamform.ejs', {posturl: "/l/stream/browser"}) %>
				<% } %>
			</div>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>

			<script src="/content/javascript/streamSubmission.js"></script>
		</main>
	</body>
</html>
