<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "TV!"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<%- include('content/ejs/tvconsole.ejs', {video: video, types: types}) %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
