<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "TV!"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<%- include('content/ejs/tvconsole.ejs', {video: video, types: types}) %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>

			<script type="text/javascript">
				//get the next tv link for the browser to redirect to after the current video is done
				var queryParams = new URLSearchParams(window.location.search);
				var nextvideolink = `/tv/?type=${queryParams.get("type")}`;
			</script>

			<script src="/content/javascript/videocontrols.js"></script>

			<script src="/content/javascript/tvconsole.js"></script>

			<script src="/content/javascript/autoplay.js"></script>
		</main>
	</body>
</html>
