<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: video.title}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/html/banner.html') %>
		</nav>
		<main>
			<%- include('content/ejs/body.ejs') %>

			<div class="container">
				<div class="video-contents">
					<div class="video-container">
						<% if (video.deleted) { %>
							<div class="novideo">
								<h1>Video was deleted, sorry.</h1>
								<img src="<%= video.thumbnail %>">
							</div>
						<% } else if (video.private && (typeof user == 'undefined' || user.id != video.user_id)) { %>
							<div class="novideo">
								<h1>Video is made private by the user.</h1>
								<img src="/server/privateicon.png">
							</div>
						<% } else { %>
							<div id="loading"></div>
							<video poster="<%= video.thumbnail %>" id="video" controls="">
								<source src="http://localhost/video/<%= video.id %>" type="video/mp4">
								<source src="http://localhost/video/<%= video.id %>" type="video/webm">
								<source src="http://localhost/video/<%= video.id %>" type="video/ogg">
								<h1>HTML Video is not supported in your browser, sorry.</h1>
							</video>
						<% } %>
					</div>
					<% if (!video.deleted && !video.private) { %>
						<%- include('content/ejs/videotext.ejs') %>
					<% } else if (!video.deleted) { %>
						<button onclick="redirectConfirm('Delete Video?', '/v/delete/<%= video.id %>')">Delete Video</button>
					<% } %>
				</div>

				<% if (!video.deleted && !video.private) { %>
					<div class="reccomendations">
						<% if (typeof chatReplayMessages != 'undefined' && chatReplayMessages.length > 0) { %>
							<div class="live-chat">
								<h3>Chat Replay:</h3>
								<div id="chatBox"></div>
							</div><hr>
						<% } %>
						<div class="playlist-content">
							<a href="/p/<%= playlist.id %>" target="__blank"><h1><%= playlist.name %></h1></a>
							<div class="playlist-scroll">
								<% playlistvideos.forEach((item, index) => { %>
									<% if (item.id == video.id) { %>
										<div class="current-video">
											<%- include('content/ejs/playlistentry.ejs', {playlist: playlist, video: item}) %>
										</div>
									<% } else { %>
										<%- include('content/ejs/playlistentry.ejs', {playlist: playlist, video: item}) %>
									<% } %>
								<% }) %>
							</div>
						</div><hr>
						<% if (typeof reccomendations != 'undefined') { %>
							<% reccomendations.forEach((item, index) => { %>
								<%- include('content/ejs/thumbnail.ejs', {video: item}) %><hr>
							<% }); %>
						<% } %>
					</div>

					<%- include('content/ejs/comments.ejs', {video: video, comments: comments}) %>
				<% } else { %>
					<div class="playlist-content">
						<a href="/p/<%= playlist.id %>" target="__blank"><h1><%= playlist.name %></h1></a>
						<div class="playlist-scroll">
							<% playlistvideos.forEach((item, index) => { %>
								<% if (item.id == video.id) { %>
									<div class="current-video">
										<%- include('content/ejs/playlistentry.ejs', {playlist: playlist, video: item}) %>
									</div>
								<% } else { %>
									<%- include('content/ejs/playlistentry.ejs', {playlist: playlist, video: item}) %>
								<% } %>
							<% }) %>
						</div>
					</div><hr>
				<% } %>
			</div>

			<%- include('content/ejs/scripts.ejs') %>
			<script>
				<% if (typeof chatReplayMessages != 'undefined') { %>
					var chatReplayMessages = <%- JSON.stringify(chatReplayMessages) %>;
				<% } %>
			</script>
			<script src="/content/javascript/videotext.js"></script>
			<script src="/content/javascript/likedislike.js"></script>
			<script src="/content/javascript/chatreplay.js"></script>
			<script src="/content/javascript/sortcomments.js"></script>
		</main>
	</body>
</html>
