<!DOCTYPE html>
<html>
	<head>
		<%- include('content/html/head.html') %>
		<title>Livestream - Crumb</title>
	</head>
	<body>
		<%- include('content/html/banner.html') %>

		<%- include('content/html/body.html') %>

		<%- include('content/html/navbar.html') %>

		<video id="livestream" controls=""></video>

		<% if (enableChat) { %>
			<h3>Live Chat:</h3>
		<% } else { %>
			<h3>Chat disabled for this live stream.</h3>
		<% } %>

		<div id="chatBox"></div>

		<div id="chatForm">
			<textarea id="message" name="message" rows="4" cols="50" placeholder="Say Something!" maxlength="200"></textarea>
			<button id="submitBtnChat" onclick="sendMessage()">Post</button>
		</div>

		<script>
			var enableChat = <%- JSON.stringify(enableChat) %>;
			var streamid = <%- JSON.stringify(streamid) %>;
			var isStreamer = false;
		</script>
		<script src="/content/javascript/showstream.js"></script>
		<script src="/content/javascript/livechat.js"></script>
	</body>
</html>
