<!DOCTYPE html>

<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: `${playlist.name} - ${creator.username}`}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/html/banner.html') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<h1><%= playlist.name %></h1>
			<% if (typeof user != 'undefined') { %>
				<% if (creator.id == user.id && playlist.candelete) { %>
					<% var deletelink = `/playlist/delete/${playlist.id}` %>
					<button><a href="<%= deletelink %>">Delete Playlist</a></button>
				<% } %>
			<% } %>
			<hr>

			<div class="playlist-videos">
				<% if (typeof videos != 'undefined') { %>
					<% if (videos.length > 0) { %>
						<% videos.forEach((item, index) => { %>
							<%- include('content/ejs/thumbnail.ejs', {video: item}) %>
							<% if (typeof user != undefined) { %>
								<% if (creator.id == user.id) { %>
									<button><a href="/playlistvideo/delete/<%= playlist.id %>/<%= item.id %>">Delete Video</a></button>
								<% } %>
							<% } %>
						<% }); %>
					<% } else { %>
						<h2>No videos yet!</h2>
					<% } %>
				<% } %>
			</div>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
