<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: "Livestream"}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/html/banner.html') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<div class="container">
				<div class="video-contents">
					<div class="video-container">
						<div id="loading"></div>
						<video id="video" controls=""></video>
					</div>
					<%- include('content/ejs/videotext.ejs', {video: stream}) %>
				</div>

				<div class="reccomendations">
					<div class="live-chat">
						<% if (stream.enablechat) { %>
							<h3>Live Chat:</h3>
						<% } else { %>
							<h3>Chat disabled for this live stream.</h3>
						<% } %>

						<div id="chatBox"></div>

						<% if (typeof user != 'undefined') { %>
							<%- include('content/ejs/chatform.ejs') %>
						<% } else { %>
							<button><a href="/login">Login to Chat!</a></button>
						<% } %>
					</div>
					<h2>&nbsp;Up Next</h2><hr>
					<% if (typeof reccomendations != 'undefined') { %>
						<% reccomendations.forEach((item, index) => { %>
							<%- include('content/ejs/thumbnail.ejs', {video: item}) %><hr>
						<% }); %>
					<% } %>
				</div>
			</div>

			<%- include('content/ejs/scripts.ejs') %>
			<script>
				<% if (typeof user != 'undefined') { %>
					var user_id = <%- JSON.stringify(user.id) %>;
					var username = <%- JSON.stringify(user.username) %>;
					var channelicon = <%- JSON.stringify(user.channelicon) %>;
				<% } %>
				var enableChat = <%- JSON.stringify(stream.enablechat) %>;
				var streamid = <%- JSON.stringify(stream.id) %>;
				var isStreamer = false;
			</script>
			<script src="/content/javascript/webStreamViewer.js"></script>
			<script src="/content/javascript/livechat.js"></script>
		</main>
	</body>
</html>
