<!DOCTYPE html>

<html>
	<head>
		<% if (!playlist.private) { %>
			<%- include('content/ejs/head.ejs', {title: `${playlist.name} - ${creator.username}`}) %>
		<% } else { %>
			<%- include('content/ejs/head.ejs', {title: 'Playlist has been set to private by the user'}) %>
		<% } %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<% if (playlist.private && (typeof user == 'undefined' || user.id != playlist.user_id)) { %>
				<h1>[This playlist has been set to private by the user]</h1>
			<% } else { %>
				<h1><%= playlist.name %></h1>
				<% if (typeof user != 'undefined') { %>
					<% if (creator.id == user.id && playlist.candelete) { %>
						<% var deletelink = `/playlist/delete/${playlist.id}` %>
						<button onclick="redirectConfirm('Delete Playlist?', '<%= deletelink %>')">Delete Playlist</button>
					<% } %>
				<% } %>
				<hr>

				<div class="playlist-videos">
					<% if (typeof videos != 'undefined') { %>
						<% if (videos.length) { %>
							<% videos.forEach((item, index) => { %>
								<%- include('content/ejs/playlistthumbnail.ejs', {video: item, playlist: playlist, user: user, creator: creator}) %>
							<% }); %>
						<% } else { %>
							<h2>No videos yet!</h2>
						<% } %>
					<% } %>
				</div>
			<% } %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
