<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: `${creator.username}'s Channel`}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<%- include('content/ejs/channelcontent.ejs', {creator: creator, user: user, section: section}) %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
