<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: video.title}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/navbar.ejs') %>
			<%- include('content/html/banner.html') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<div class="container">
				<div class="video-contents">
					<div class="video-container">
						<% if (video.deleted) { %>
							<div class="deletedvideo">
								<h1>Video was deleted, sorry.</h1>
								<img src="<%= video.thumbnail %>">
							</div>
							<h1><%= video.title %></h1>
						<% } else { %>
							<div id="loading"></div>
							<video poster="<%= video.thumbnail %>" id="video" controls="">
								<source src="http://localhost/video/<%= video.id %>" type="video/mp4">
								<source src="http://localhost/video/<%= video.id %>" type="video/webm">
								<source src="http://localhost/video/<%= video.id %>" type="video/ogg">
								<h1>HTML Video is not supported in your browser, sorry.</h1>
							</video>
						<% } %>
					</div>
					<% if (!video.deleted) { %>
						<%- include('content/ejs/videotext.ejs') %>
					<% } %>
				</div>

				<% if (!video.deleted) { %>
					<div class="reccomendations">
						<% if (typeof chatReplayMessages != 'undefined') { %>
							<div id="chatReplay">
								<h3 id="replayTitle">Chat Replay:</h3>
								<div id="chatReplayMessages"></div>
							</div>
						<% } %>
						<h2>&nbspUp Next</h2><hr>
						<% if (typeof reccomendations != 'undefined') { %>
							<% reccomendations.forEach((item, index) => { %>
								<%- include('content/ejs/thumbnail.ejs', {video: item}) %>
								<hr>
							<% }); %>
						<% } %>
					</div>

					<%- include('content/ejs/comments.ejs', {video: video, comments: comments}) %>
				<% } %>
			</div>

			<% if (!video.deleted) { %>
				<%- include('content/ejs/scripts.ejs') %>

				<script type="text/javascript">
					function readMore() {
						var dots = document.getElementById("dots");
						var moreText = document.getElementById("more");
						var btnText = document.getElementById("readMoreBtn");

						if (dots.style.display === "none") {
							dots.style.display = "inline";
							btnText.innerHTML = "Read More";
							moreText.style.display = "none";
						} else {
							dots.style.display = "none";
							btnText.innerHTML = "Read Less";
							moreText.style.display = "inline";
						}
					}
				</script>

				<script type="text/javascript">
					var videovar = <%- JSON.stringify(video) %>;
					<% if (typeof reccomendations[0] != 'undefined') { %>
						var nextvideo = <%- JSON.stringify(reccomendations[0]) %>;
					<% } %>
					<% if (typeof commentid != 'undefined') { %>
						var commentid = <%- JSON.stringify(commentid) %>;
						var commentElement = document.getElementById(commentid);
						commentElement.scrollIntoView();
						commentElement.style.backgroundColor = "#1a1a1a";
						commentElement.style.borderStyle = "solid";
						commentElement.style.borderWidth = "5px";
						commentElement.style.borderColor = "#adff12";
					<% } %>
					<% if (typeof chatReplayMessages != 'undefined') { %>
						var chatReplayMessages = <%- JSON.stringify(chatReplayMessages) %>;
					<% } %>
				</script>

				<script src="/content/javascript/likedislike.js"></script>
				<script src="/content/javascript/elementclicks.js"></script>
				<script src="/content/javascript/chatreplay.js"></script>
				<script src="/content/javascript/sortcomments.js"></script>
			<% } %>
		</main>
	</body>
</html>
