<!DOCTYPE html>

<html>
	<head>
		<% if (!playlist.private) { %>
			<%- include('content/ejs/head.ejs', {title: `${playlist.name} - ${creator.username}`}) %>
		<% } else { %>
			<%- include('content/ejs/head.ejs', {title: 'Playlist has been set to private by the user'}) %>
		<% } %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<% if (playlist.private && (typeof user == 'undefined' || user.id != playlist.user_id)) { %>
				<h1>[This playlist has been set to private by the user]</h1>
			<% } else { %>
				<%- include('content/ejs/playlistcontent.ejs', {playlist: playlist, user: user, videos: videos, creator: creator}) %>
			<% } %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
