<!DOCTYPE html>
<html>
	<head>
		<%- include('content/html/head.html') %>
		<title>Livestream - Crumb</title>
	</head>
	<body>
		<%- include('content/html/banner.html') %>

		<%- include('content/html/body.html') %>

		<video id="livestream" controls=""></video>
		<h1><%= streamname %></h1>

		<% if (enableChat) { %>
			<h3>Live Chat:</h3>
		<% } else { %>
			<h3>Chat disabled for this live stream.</h3>
		<% } %>

		<div id="chatBox"></div>
		<div id="chatForm">
			<textarea id="message" name="message" rows="4" cols="50" placeholder="Say Something!" maxlength="200"></textarea>
			<button id="submitBtnChat" onclick="sendMessage()">Post</button>
		</div>

		<script>
			var enableChat = <%- JSON.stringify(enableChat) %>;
			var streamURL = <%- JSON.stringify(streamURL) %>;
			var streamid = <%- JSON.stringify(streamid) %>;
			var video = document.getElementById("livestream");
		</script>
		<script src="/content/javascript/livechat.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
		<script src="/content/javascript/obsStreamViewer.js"></script>
	</body>
</html>
