<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/main.css">
		<title><%= creator.username %>'s Channel - Crumb</title>
	</head>
	<body>
		<%- include('content/banner.html') %>
		<div class="channel">
			<div class="channel-banner" style="background-image: url(<%= creator.channelbanner %>)">
				<div id="channel-icon">
					<img src="<%= creator.channelicon %>" width="80px" height="80px">
				</div>
				<div id="channel-name" class="hardtoseetext">
					<h1><%= creator.username %></h1>
				</div>
				<button id="subscribebutton" onclick="subscribe();">Subscribe</button>
			</div>
			<hr>
			<div class="channel-content">
				<% if (typeof videos != 'undefined') { %>
					<% videos.forEach((item, index) => { %>
						<div class="video">
							<% var videolink = `/v/${item.id}` %>
							<div class="thumbnail">
								<a href="<%= videolink %>">
									<img src="<%= item.thumbnail %>" alt="thumbnail" width="450" height="300">
								</a>
							</div>
							<div class="links">
								<a href="<%= videolink %>">
									<h3 style="text-transform: capitalize;"><strong><%= item.title %></strong></h3>
								</a>
							</div>
						</div>
					<% }); %>
				<% } %>
			</div>
		</div>
		<script type="text/javascript">var channelvar = <%- JSON.stringify(creator) %>;</script>
		<script src="/javascript/subscribe.js"></script>
	</body>
</html>
