<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: video.title}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs', {noadvert: true}) %>

			<div class="container">
				<div class="video-contents">
					<div class="video-container">
						<% if (video.deleted) { %>
							<div class="novideo">
								<h1>Video was deleted, sorry.</h1>
								<img src="<%= video.thumbnail %>">
							</div>
						<% } else if (video.private && (typeof user == 'undefined' || user.id != video.user_id)) { %>
							<div class="novideo">
								<h1>Video is made private by the user.</h1>
								<img src="/server/privateicon.png">
							</div>
						<% } else { %>
							<div id="loading"></div>
							<video poster="<%= video.thumbnail %>" id="video" width="700" height="450"  data-videoid="<%= video.id %>" data-videotitle="<%= video.title %>" data-videouserid="<%= video.user_id %>">
								<source src="http://localhost/video/<%= video.id %>" type="video/mp4">
								<source src="http://localhost/video/<%= video.id %>" type="video/webm">
								<source src="http://localhost/video/<%= video.id %>" type="video/ogg">
								<h1>HTML Video is not supported in your browser, sorry.</h1>
							</video>
						<% } %>

						<%- include('content/ejs/videocontrols.ejs') %>
					</div>

					<% if (!video.deleted && !video.private) { %>
						<%- include('content/ejs/videotext.ejs') %>
					<% } else if (!video.deleted && typeof user != 'undefined' && user.id == video.user_id) { %>
						<button onclick="redirectConfirm('Delete Video?', '/v/delete/<%= video.id %>')">Delete Video</button>
					<% } %>
				</div>

				<% if (!video.deleted && !video.private) { %>
					<div class="reccomendations">
						<% if (typeof chatReplayMessages != 'undefined') { %>
							<div class="live-chat-replay">
								<h3>Chat Replay:</h3>
								<div id="chatBox"></div>
							</div>
						<% } %>

						<% if (typeof playlist != "undefined" && typeof playlistvideos != "undefined") { %>
							<%- include('content/ejs/playlistsidebar.ejs', {playlist: playlist, playlistvideos: playlistvideos}) %>
						<% } %>

						<div class="adverts" data-position="square"></div>

						<div class="autoplay">
							<p>Autoplay:</p>
							<label class="switch" id="autoplay">
								<input class="switchinput" type="checkbox">
								<span class="slider"></span>
							</label>
						</div>

						<%- include('content/ejs/reccomendations.ejs', {reccomendations: reccomendations}) %>
					</div>

					<%- include('content/ejs/comments.ejs', {video: video, comments: comments}) %>
				<% } %>
			</div>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>

			<% if (!video.deleted && !video.private) { %>
				<script type="text/javascript">
					<% if (typeof scrollCommentId != 'undefined' && typeof scrollCommentBaseId != 'undefined') { %>
						var scrollCommentId = <%- JSON.stringify(scrollCommentId) %>;
						var scrollCommentBaseId = <%- JSON.stringify(scrollCommentBaseId) %>;
					<% } %>

					<% if (typeof chatReplayMessages != 'undefined') { %>
						var chatReplayMessages = <%- JSON.stringify(chatReplayMessages) %>;
					<% } %>

					<% if (typeof playlistvideos != 'undefined' && typeof playlist != 'undefined') { %>
						<% var nextvideoid = playlistvideos.filter((item) => {
							return item.id == video.id;
						}); %>
						<% nextvideoid = parseInt(nextvideoid[0].videoorder); %>
						<% if (nextvideoid < playlistvideos.length) { %>
							<% nextvideoid = playlistvideos[nextvideoid].id; %>
							var nextvideolink = `/playlistvideo/view/<%= playlist.id %>/<%= nextvideoid %>`;
						<% } %>
					<% } else if (typeof reccomendations != 'undefined') { %>
						var nextvideolink = `/v/<%= reccomendations[0].id %>`;
					<% } %>

					<% if (typeof subtitles != 'undefined' && subtitles != null) { %>
						var subtitles = <%- JSON.stringify(subtitles) %>;
					<% } %>
				</script>

				<!--implement functionality for video controls-->
				<script src="/content/javascript/videocontrols.js"></script>

				<!--handle the torrenting of videos on the client side-->
				<script src="/content/javascript/webtorrentVideosOutput.js"></script>

				<!--handle things such as the "read more" button in the video text section-->
				<script src="/content/javascript/videotext.js"></script>

				<!--handle the like/dislike of videos-->
				<script src="/content/javascript/likedislike.js"></script>

				<!--handle the live chat replay if there is one-->
				<script src="/content/javascript/chatreplay.js"></script>

				<!--handle the sorting of the comments in the html-->
				<script src="/content/javascript/sortcomments.js"></script>

				<!--handle the autoplaying of videos-->
				<script src="/content/javascript/autoplay.js"></script>

				<!--if there is a comment that a user just submitted, scroll to it and show the user-->
				<script src="/content/javascript/scrollToComment.js"></script>

				<!--handle the display of subtitles under the video-->
				<script src="/content/javascript/subtitles.js"></script>

				<!--handle the video settings such as subtitles, speed, and quality-->
				<script src="/content/javascript/videosettings.js"></script>

				<!--handle the submission of comments using the fetch API-->
				<script src="/content/javascript/commentSubmission.js"></script>
			<% } %>
		</main>
	</body>
</html>
