<!DOCTYPE html>
<html>
	<head>
		<%- include('content/ejs/head.ejs', {title: sectionname}) %>
	</head>
	<body>
		<nav>
			<%- include('content/ejs/banner.ejs') %>
		</nav>

		<main>
			<%- include('content/ejs/body.ejs') %>

			<%- include('content/ejs/sectioncontent.ejs', {sectionname: sectionname, videos: videos}) %>

			<%- include('content/ejs/bottombody.ejs') %>

			<%- include('content/ejs/scripts.ejs') %>
		</main>
	</body>
</html>
