<% if (typeof advert != "undefined" && typeof adResolutions != "undefined") { %>
	<div id="adEdit">
		<h1>Edit information for advertisement <%= advert.id %>:</h1>

		<form action="" method="POST" enctype='multipart/form-data' id="adEditForm">
			<div id="adForm">
				<input type="hidden" id="advertid" name="advertid" value="<%= advert.id %>">

				<label for="businessLink">Relative Link for <%= adDomain %>:</label>
				<input type="text" id="businessLink" name="businessLink" value="<%= advert.adlink %>" required><br>

				<hr>

				<h2>Current Image:</h2>
				<img src="<%= advert.adfile %>">

				<h2>Accepted Image Resolutions:</h2>
				<% adResolutions.forEach((item, index) => { %>
					<p><%= item.width %>x<%= item.height %> for <%= item.type %> <%= item.position %>s</p>
				<% }); %>

				<label for="adImage">Advertisement Image/GIF:</label>
				<input type="file" id="adImage" name="adImage" accept="image/*"><br>
			</div><hr>

			<button class="submitbtn" id="submitAdvertEdit" type="button" onclick="advertEditSubmitted();">Submit Advertisement Edits</button>
			<h1 class="percentage"></h1>
			<div class="lds-hourglass"></div>
		</form>
	</div>
<% } %>
