<!--The form used to reply to a comment in the comments section of videos-->

<div class="replybox" id="<%= comment.id %>replybox">
	<p id="<%= comment.id %>replyboxdragheader">Reply to &quot;<%= comment.username %>:<%= comment.id %>&quot;</p>

	<% var replylink = commentlink + `?parent_id=${comment.id}` %>

	<form action="<%= replylink %>" method="post" enctype='multipart/form-data' id="<%= comment.id %>replyform">
		<textarea id="commenttext" name="commenttext" placeholder="Say Something!" maxlength="500" rows="10" cols="50" required></textarea><br>

		<label class="filelabel" for="reactionfile">Upload Reaction Image/Video</label><br>
		<input type="file" id="reactionfile" name="reactionfile" accept="image/*,video/*"><br><br>

		<input type="hidden" id="base_parent_id" name="base_parent_id" value="<%= base_parent_id %>">

		<button class="submitbtn" type="button" onclick="commentSubmitted('<%= comment.id %>replyform');">Reply</button>
		<button type="button" onclick="showelement('<%= comment.id %>replybox');">Cancel</button>
		<h1 class="percentage"></h1>
		<div class="lds-hourglass"></div>
	</form>
</div>

