<!--The display of the entire comments section of a video-->

<% if (typeof video != 'undefined') { %>
	<div class="comments">
		<h2>Comments:</h2>
		<div id="commentform">
			<% var commentlink = `/comment/${video.id}`; %>
			<form action="<%= commentlink %>" method="post" enctype='multipart/form-data' id="mainCommentForm">
				<textarea id="commenttext" name="commenttext" placeholder="Comment Something" maxlength="500" rows="10" cols="50" required></textarea><br><br>

				<label class="filelabel" for="reactionfile">Upload Reaction Image/Video</label><br>
				<input type="file" id="reactionfile" name="reactionfile" accept="image/*,video/*"><br><br>

				<button class="submitbtn" type="button" onclick="commentSubmitted('mainCommentForm');">Post Comment</button>
				<h1 class="percentage"></h1>
				<div class="lds-hourglass"></div>
			</form>
		</div>

		<div id="theComments">
			<% if (typeof comments != 'undefined') { %>
				<% comments.forEach((item, index) => { %>
					<hr>
					<div class="comment" id="<%= item.id %>" likes="<%= item.likes %>" dislikes="<%= item.dislikes %>" posttime="<%= item.posttime %>">
						<%- include('./comment.ejs', {comment: item}) %>

						<% if (typeof user != 'undefined') { %>
							<% if (user.id == item.user_id) { %>
								<button onclick="redirectConfirm('Delete Comment?', '/comment/delete/<%= item.id %>')">Delete Comment?</button>
							<% } %>
						<% } %>

						<%- include('./commentreplyform.ejs', {comment: item, base_parent_id: item.id, commentlink: commentlink}) %>
					</div>
					<hr>
				<% }); %>
			<% } %>
		</div>
	</div>
<% } %>
