<!--The display of the entire comments section of a video-->

<% if (typeof content != 'undefined') { %>
	<div class="comments">
		<h2>Comments:</h2>
		<div id="commentform">
			<% if (typeof contenttype != 'undefined') { %>
				<% var commentlink = `/comment/${content.id}/?contenttype=${contenttype}`; %>
			<% } else { %>
				<% var commentlink = `/comment/${content.id}/?contenttype=video`; %>
			<% } %>

			<form action="<%= commentlink %>" method="post" enctype='multipart/form-data' id="mainCommentForm">
				<textarea id="commenttext" name="commenttext" placeholder="Comment Something" maxlength="500" rows="10" cols="50" required></textarea><br><br>

				<label class="filelabel" for="reactionfile">Upload Reaction Image/Video</label><br>
				<input type="file" id="reactionfile" name="reactionfile" accept="image/*,video/*"><br><br>

				<button class="submitbtn" type="button" onclick="commentSubmitted('mainCommentForm');">Post Comment</button>
				<h1 class="percentage"></h1>
				<div class="lds-hourglass"></div>
			</form>
		</div>

		<div id="theComments">
			<% if (typeof comments != 'undefined') { %>
				<% comments.forEach((item, index) => { %>
					<div class="comment" id="<%= item.id %>" likes="<%= item.likes %>" dislikes="<%= item.dislikes %>" posttime="<%= item.posttime %>">
						<% if (typeof user != 'undefined') { %>
							<%- include('./comment.ejs', {comment: item, user: user}) %>
						<% } else { %>
							<%- include('./comment.ejs', {comment: item}) %>
						<% } %>

						<%- include('./commentreplyform.ejs', {comment: item, base_parent_id: item.id, commentlink: commentlink}) %>
					</div>
				<% }); %>
			<% } %>
		</div>
	</div>
<% } %>
