<!--EJS that displays a miniaturized version of channel information-->

<% if (typeof channel != 'undefined') { %>
	<div class="minichannel">
		<% var channellink = `/u/${channel.id}` %>

		<a href="<%= channellink %>">
			<img id="channel-icon" src="<%= channel.channelicon %>" alt="channelicon">
		</a>

		<a href="<%= channellink %>">
			<h1 id="channel-link"><%= channel.username %></h1>
		</a>

		<% if (typeof subscribedChannels != 'undefined') { %>
			<% if (subscribedChannels.includes(channel.id)) { %>
				<button id="subscribebutton" onclick="subscribe('<%= channel.id %>', this)">Subscribed</button>
			<% } else { %>
				<button id="subscribebutton" onclick="subscribe('<%= channel.id %>', this)">Subscribe</button>
			<% } %>
		<% } else { %>
			<button id="subscribebutton" onclick="subscribe('<%= channel.id %>', this)">Subscribe</button>
		<% } %>

		<p>&nbsp;<%= channel.subscribers %> Subscribers&nbsp;</p>
		<p><%= channel.videocount %> Videos</p>
	</div>
<% } %>
