<!--Display a video thumbnail which links to the corresponding video-->

<% if (typeof video != 'undefined' && typeof playlist != 'undefined') { %>
	<div class="video-thumbnail" id="<%= video.id %>thumbnail">
		<% if (video.streaming) { %>
			<% var videolink = `/l/view/${video.id}`; %>
		<% } else { %>
			<% var videolink = `/playlistvideo/view/${playlist.id}/${video.id}`; %>
		<% } %>
		<% var channellink = `/u/${video.user_id}`; %>
		<div class="thumbnail">
			<a href="<%= videolink %>">
				<img src="<%= video.thumbnail %>" alt="Thumbnail" width="450" height="300">
			</a>
		</div>
		<div class="links">
			<a href="<%= videolink %>">
				<h3><strong><%= video.title %></strong></h3>
			</a>
			<div class="channel-links" id="channel-links">
				<a href="<%= channellink %>">
					<img id="channel-icon" src="<%= video.channelicon %>">
				</a>
				<a href="<%= channellink %>">
					<p><%= video.username %></p>
				</a>
				<% if (typeof user != 'undefined') { %>
					<% if (creator.id == user.id && playlist.candelete) { %>
						<div>
							<svg width="10" height="40" id="extras" onclick="showelement('<%= video.id %>extralinks'); console.log(document.activeElement);">
								<circle cx="5" cy="5" r="5" fill="#adff12"/>
								<circle cx="5" cy="20" r="5" fill="#adff12"/>
								<circle cx="5" cy="35" r="5" fill="#adff12"/>
							</svg>
							<div class="extralinks" id="<%= video.id %>extralinks">
								<button onclick="redirectConfirm('Delete From Playlist?', '/playlistvideo/delete/<%= playlist.id %>/<%= video.id %>')">Delete From Playlist</button>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
<% } %>
