<% if (typeof video != 'undefined') { %>
	<div class="video-thumbnail">
		<% if (video.streaming == 'true') { %>
			<% var videolink = `/l/view/${video.id}`; %>
		<% } else { %>
			<% var videolink = `/v/${video.id}`; %>
		<% } %>
		<% var channellink = `/u/${video.user_id}`; %>
		<div class="thumbnail">
			<a href="<%= videolink %>">
				<img src="<%= video.thumbnail %>" alt="Thumbnail" width="450" height="300">
			</a>
		</div>
		<div class="links">
			<a href="<%= videolink %>">
				<h3 style="text-transform: capitalize"><strong><%= video.title %></strong></h3>
			</a>
			<div class="channel-links" id="channel-links">
				<a href="<%= channellink %>">
					<img id="channel-icon" src="<%= video.channelicon %>">
				</a>
				<a href="<%= channellink %>">
					<p><%= video.username %></p>
				</a>
				<svg width="10" height="40" id="extras" onclick='showlinks(&quot;<%= video.id %>extralinks&quot;, &quot;<%= video.id %>&quot;)'>
					<circle cx="5" cy="5" r="5" fill="#adff12"/>
					<circle cx="5" cy="20" r="5" fill="#adff12"/>
					<circle cx="5" cy="35" r="5" fill="#adff12"/>
				</svg>
				<div class="extralinks" id="<%= video.id %>extralinks">
					<button onclick='showform(&quot;<%= video.id %>&quot;, &quot;playlistform&quot;)'>Add To Playlist</button>
					<button>Not Interested</button>
					<button onclick='showform(&quot;<%= video.id %>&quot;, &quot;reportform&quot;)'>Report</button>
				</div>
				<div class="extralinkforms" id="<%= video.id %>extralinkforms">
					<object id="<%= video.id %>playlistform">
						<h3><a href="/playlist/new/?videoid=<%= video.id %>">Create Playlist</a></h3><br>
						<% if (typeof playlists != 'undefined') { %>
							<% playlists.forEach((plist, index) => { %>
								<h3><a href="/playlistvideo/add/<%= plist.id %>/<%= video.id %>"><%= plist.name %></a></h3><br>
							<% }); %>
						<% } %>
					</object>
					<object id="<%= video.id %>reportform">
						<form action="/report/<%= video.id %>" method="post">
							
						</form>
					</object>
				</div>
			</div>
		</div>
	</div>
<% } %>
