<!--EJS to display only a video-->

<% if (typeof video != 'undefined') { %>
	<div class="player-container">
		<div class="video-container">
			<div id="loading"></div>
			<video poster="<%= video.thumbnail %>" id="video" width="700" height="450">
				<source src="http://localhost/video/<%= video.id %>" type="video/mp4">
				<source src="http://localhost/video/<%= video.id %>" type="video/webm">
				<source src="http://localhost/video/<%= video.id %>" type="video/ogg">
				<h1>HTML Video is not supported in your browser, sorry.</h1>
			</video>
			<%- include("./videocontrols.ejs") %>
		</div>
	</div>
<% } %>
