<div class="videotext">
	<h1 id="title"><%= video.title %></h1>
	<% if (typeof video.topics != 'object') { %>
		<hr>
		<p>
		<% var topicsarray = video.topics.split(","); %>
		<% topicsarray.forEach((item, index) => { %>
			<%= item %> 
		<% }); %>
		</p>
	<% } %>
	<hr>
	<div class="extralinks" id="<%= video.id %>extralinks">
		<button onclick="showelement('<%= video.id %>playlistform')">Add To Playlist</button>
		<button onclick="showelement('<%= video.id %>reportform'); insertReportTimestamp('<%= video.id %>reportform')">Report</button>
		<object id="<%= video.id %>playlistform">
			<h3><a href="/playlist/new/?videoid=<%= video.id %>">Create Playlist</a></h3><br>
			<% if (typeof playlists != 'undefined') { %>
				<% playlists.forEach((plist, index) => { %>
					<h3><a href="/playlistvideo/add/<%= plist.id %>/<%= video.id %>"><%= plist.name %></a></h3><br>
				<% }); %>
			<% } %>
		</object>
		<%- include('./videoreportform.ejs', {video: video}) %>
	</div>
	<hr>
	<div class="channel-details">
		<% var channellink = `/u/${videocreator.id}` %>
		<div id="icon">
			<a href="<%= channellink %>">
				<img src="<%= videocreator.channelicon %>">
			</a>
		</div>
		<div id="channel-text">	
			<a href="<%= channellink %>">
				<h2><%= videocreator.username %></h2>
			</a>
		</div>
		<div class="video-buttons">
			<div class="subscribe-section">
				<% if (typeof subscribed != 'undefined') { %>
					<% if (subscribed != 0) { %>
						<button id="subscribebutton" onclick="subscribe('<%= videocreator.id %>', this)">Subscribed</button>
					<% } else { %>
						<button id="subscribebutton" onclick="subscribe('<%= videocreator.id %>', this)">Subscribe</button>
					<% } %>
				<% } else { %>
					<button id="subscribebutton" onclick="subscribe('<%= videocreator.id %>', this)">Subscribe</button>
				<% } %>
				<p><%= videocreator.subscribers %></p>
			</div>
			<div class="likesection">
				<button class="likebuttons" onclick="likeVideo('<%= video.id %>')"><img src="/content/icons/like.ico"></button>
				<p id="likes"><%= video.likes %></p>
				<button class="likebuttons" onclick="dislikeVideo('<%= video.id %>')"><img src="/content/icons/dislike.ico"></button>
				<p id="dislikes"><%= video.dislikes %></p>
			</div>
		</div>
	</div>
	<hr>
	<p><%= approx(video.views) %> Views | Posted: <%= new Date(video.posttime).toLocaleDateString(undefined, {}) %></p>
	<hr>
	<div class="description">
		<% if (video.description.length > 100) { %>
			<p>
				<%= video.description.substr(0, 100) %>
				<span id="dots">...</span>
			</p>
			<% var moretext = video.description.substr(100); %>
			<div id="more" style="display: none">
				<p><%= moretext %></p>
			</div>
			<button onclick="readMore()" id="readMoreBtn">Read More</button>
		<% } else { %>
			<p><%= video.description %></p>
		<% } %>
	</div>
	<hr>

	<%- include('./videosettings.ejs', {resolutions: resolutions}) %>
</div>

<% if (typeof user != 'undefined') { %>
	<% if (video.user_id == user.id && !video.deleted) { %>
		<% var deletelink = `/v/delete/${video.id}` %>
		<button onclick="redirectConfirm('Delete Video?', '<%= deletelink %>')">Delete Video</a></button>
		<hr>
	<% } %>
<% } %>
